body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: whitesmoke;
}
header {
    width: 100%;
    background: #aa9b9b;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}

ol {
    display: block;
    margin-top: 10px;
    text-align: center;
}
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline;
}
section {
    width: 80%;
    max-width: 800px;
    margin: 20px;
    text-align: center;
}
